
.container {
  display: grid;
  /* Automatically create columns at least 250px wide, filling available space */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem; /* Spacing between items */
}



body {
  background-color: rgb(240, 137, 214);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

h3 {
  font-size: 60px;
  color: #3d013a;
}

p {
  font-size: 18px;
  color: #666;
}
