body {
  background-color: rgb(240, 137, 214);
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 50px;
}

h1 {
  color: #333;
}

h11 {
  font-size: large;
  color: #e3b128;
}

p {
  font-size: 18px;
  color: #666;
}
